#solution {
    font-size: 36px;
}

.container {
    margin: auto;
    width: 1008px;
}

#instruction {
    font-size: 2em;
    font-weight: 800;
    padding: 30px;
    border: 5px solid #00FF00;
}
